.about
    .about__container
        .about__frame
            .about__image
                img(src="", alt="").img
        .about__content
            .about__content__title
                h1.text About Us
            .about__content__info
                p.text Mauris est dui, elementum eu vulputate a, tincidunt lobortis velit. Maecenas mattis sagittis lectus, eu auctor mi iaculis et. Vestibulum efficitur ultrices lorem eget euismod. Etiam sed leo sed lorem interdum elementum non in elit.
                p.text Aliquam sagittis dapibus enim, id sollicitudin mauris maximus auctor. Ut fringilla leo tempus, condimentum est sit amet, interdum justo. Donec imperdiet purus viverra, condimentum libero ut, placerat enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum efficitur ultrices lorem eget euismod.
            .about__content__read-button.base-button
                a.link(href="#") Read More
    include ../divider/divider