.about
    .about__image
        img(src="", alt="").img
    .about__content
        .about__content__title
            p.text About Us
        .about__content__info
        .about__content__read-button
            p.text Mauris est dui, elementum eu vulputate a, tincidunt lobortis velit. Maecenas mattis sagittis lectus, eu auctor mi iaculis et. Vestibulum efficitur ultrices lorem eget euismod. Etiam sed leo sed lorem interdum elementum non in elit. Nunc mollis urna sit amet nunc dapibus, id tincidunt justo dapibus. Morbi eu tincidunt erat, nec venenatis neque. Morbi et velit et massa consequat placerat. Suspendisse a nibh ac turpis consectetur elementum. Sed ut tellus aliquet, aliquam orci sed, laoreet neque. 
            p.text Aliquam sagittis dapibus enim, id sollicitudin mauris maximus auctor. Ut fringilla leo tempus, condimentum est sit amet, interdum justo. Donec imperdiet purus viverra, condimentum libero ut, placerat enim. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed in nulla vitae mi porttitor ornare vitae quis elit. Sed id mi est.
            a.link(href="#") Read More
    .about__divider
        img(src="", alt="").img