.footer
    .footer__container
        ul.footer__container-list
            li.footer__container-item
                .footer__container-item__title
                    p.text Contact
                .footer__container-item__content
                    p.text Matet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio
                    ul.list 
                        li.item
                            p.text.phone +30 2825601239
                        li.item
                            p.text.email Info@discovergreece.com
                        li.item
                            p.text.address Aenean sollicitudin, lorem quis bibendum auctor
            li.footer__container-item
                .footer__container-item__title
                    p.text Recent Tweets
                    ul.list
                        li.item
                            p.text #[a.link(href="#") @henryreyes9] aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
                        li.item
                            p.text #[a.link(href="#") @commit2design] aenean sollicitudin, lorem quis bibendum auctor,nisi elit cot.
                        li.item
                            p.text Zenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.
                .footer__container-item__content
            li.footer__container-item
                .footer__container-item__title
                    p.text Recent Posts
                .footer__container-item__content
                    ul.list
                        li.item
                            p.text How to get ready for your honey moon trip? #[a.link(href="#") Read more... ]
                        li.item
                            p.text 5 tips to plan the best summer vacation in Greece. #[a.link(href="#") Read more... ]
                        li.item
                            p.text Are you a nature lover? Here are the top destinations you should visit. #[a.link(href="#") Read more... ]                      
    .footer__bottom-menu
        ul.footer__bottom-menu__list
            li.footer__bottom-menu__item
                p.text Copyright © 2016 Discover Greece. All rights reserved.
            li.footer__bottom-menu__item
                ul.list 
                    li.item 
                        a.link(href="#")
                            img(src="",alt="").img
                    li.item 
                        a.link(href="#")
                            img(src="",alt="").img
                    li.item 
                        a.link(href="#")
                            img(src="",alt="").img 
            li.footer__bottom-menu__item
                ul.list
                    li.item
                        p.text Privacy&Terms
                    li.item
                        p.text FAQs
                    li.item
                        p.text Legal
                    li.item
                        p.text Contact