.header{
    height: 100px;
    background-color: black;
}

.destinations{
    height: 100px;
    background-color: white;
}

.footer{
    height: 100px;
    background-color: black;
}

@import 'libs';