$white:  white;
$whitesmoke: #f6f6f6;
$border-color: #e7e6e6;
$lightergray: #dbdbdb;
$lightgray: #cfcfcf;
$gray: #cccccc;
$darkgray: #999999;
$darkergray: #626161;
$darkslategray: #292828;
$black: black;
$darkturquoise: #0ed9e6;
$skyblue: #12c1fc;
$background-blue: #53a2db;
$blue: #1289d5;
$khaki: #fdd687;
$test: 	#800010;
$atest: #679B00;