doctype html
html(lang="ru-RU")
    head
        title Discover Greece
        link(rel='stylesheet' type='text/css' href="static/css/main.css")
    body
        include ..//modules/header/header
        include ..//modules/about/about
        include ..//modules/destinations/destinations
        include ..//modules/packages/packages
        include ..//modules/offer/offer
        include ..//modules/newsletter/newsletter
        include ..//modules/footer/footer
        script(src='static/js/libs.min.js')   
        script(src='static/js/main.js')           