.header
    .header__top-menu
        .header__top-menu__logo
            a.header__top-menu__logo__link(href="#")
                p.header__top-menu__logo__text Discover
                .header__top-menu__logo__image 
                    img(src="", alt="").img
                p.header__top-menu__logo__text Greece
        .header__top-menu__menu
            ul.header__top-menu__menu__list
                li.header__top-menu__menu__item
                    a.link(href="#") Home
                li.header__top-menu__menu__item
                    a.link(href="#") Destinations
                li.header__top-menu__menu__item
                    a.link(href="#") Blog
                li.header__top-menu__menu__item
                    a.link(href="#") Contact
            .header__top-menu__book-button.base-button
                a.link(href="#") Book Now
    .header__offer
        .header__offer__info
            .header__offer__info__title
                h1.text Best offer
            .header__offer__info__sale-value
                h1.text 25% Off
            .header__offer__info__tour-name
                h1.text SANTORINI City Tour
            .header__offer__info__tour-info
                p.text Sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate mauris. Mobi accumsan ipsum velit.
            .header__offer__info__see-button.base-button
                a.link(href="#") See more
        .header__offer__scroll
            a.header__offer__scroll__link(href="#")
                h1.text Scroll down
                .icon
                    img(src="",alt="").img
    .header__booking
        .header__booking__title
        .header__booking__form
            form(action="#").form
                input.input(type="text", placeholder="Select Destination")
                input.input(type="text", placeholder="From")
                input.input(type="text", placeholder="To")
                input.input(type="text", placeholder="Guests")
                button(type="submit").button Check Availability