.offer
    .offer__image
        img(src="", alt="").img
    .offer__content
        .offer__content__title
            h1.text Exclusive tour to Mykonos Island
        .offer__content__info
            p.text Lorem Ipsum proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bebendum auctor, nisi edit consequant ipsum.
        .offer__content__restriction
            p.text Some restrictions apply*
        .offer__content__book-button.base-button
            a.link(href="#") Book Now