.newsletter
    .newsletter__title
        h1.text Not ready yet? Then Join our newsletter
    .newsletter__info
        p.text Sign up for our newsletter and receive latest news on destinatitions, reviews, offers and more
    .newsletter__form
        form(action="#").form
            input.input(type="email", placeholder="Enter your email address")
            button(type="submit").button Subscribe
    .newsletter__divider
        img(src="", alt="").img