a.destination(href="#")
    .destination__frame
        .destination__image
            img(src="./../build/images/" + destination.img, alt="").img
    .destination__title
        h1.text= destination.title